
.body-container{
	width: 60%;
	margin: auto;
}

.my-form{
	padding:20px;

}

.my-form.form-group{
	padding-bottom: 20px
}

.my-form label{
	display:block;
	font: bold 18px Lato, Avenir, Source Sans Pro, Helvetica, sans-serif;
;
}

.my-form input[type="text"], .my-form textarea{
	padding: 10px;
	width:100%;
	margin: auto;

}

.intro{
	font: bold 4.0rem Playfair Display,  sans-serif;
	font-weight: 600;
	color: #869069;
	line-height: 1.6em;
	display: block; padding: 40px;
	text-align: center;
}

.button{
	background-color: #869069;
	color: #ffffff; 
	padding: 5px 25px;
	font: 14px Lato, Avenir, Source Sans Pro, Helvetica, sans-serif;
	border-radius: 3px;

}

.button:hover {
	background-color: #5f674b;

}


.body{
	display:block;
	font: bold 18px Lato, Avenir, Source Sans Pro, Helvetica, sans-serif;
;